/*  fonts */

@font-face {
    font-family: 'lt-m';
    src: url(/assets/fonts/latest.woff2);
}

@font-face {
    font-family: 'lt-b';
    src: url(/assets/fonts/latest\ \(1\).woff2);
}

@font-face {
    font-family: 'MW';
    src: url(/assets/fonts/MWFFluentIcons.woff2);
}


:root {
    --font-bold: 'lt-b';
    --font-midium: 'lt-m';
    --font-MW: 'MW';
    --layout-column-width: calc((100% - 1rem) / 2);
}


/* root */




/* base code */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    width: 100%;
    display: block;
    height: 4000px;
}




/* -----------header---------- */



.azure-main-body,
.main-body {
    width: 100%;
    height: 100%;
    display: block;
}

.main-header,
.header-container {
    width: 100%;
    background-color: white;
    text-align: center;
}

.header-body {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;
    max-height: 54px;
}

.header-nav-left {
    width: fit-content;
    height: 100%;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.azure-logo {
    display: flex;
    align-items: center;
}

.azure-logo-icon .icon-size {
    display: flex;
    width: 24px;
    height: 24px;

}

.azure-menu-logo-icon  {
    display: none;
    fill: black;
    width: 20px;
    
}



.azure-logo-svg svg {
    width: 100%;
    height: 100%;

}

.azure-logo-text {
    margin-left: 24px;
    font-size: 18px;
    font-family: var(--font-bold);
    font-weight: 600;
    text-align: left;
    line-height: 24px;
    letter-spacing:  -0.48px;
}

.azure-nav-list {
    display: flex;
    margin-left: 24px;
    align-items: flex-start;
}

.azure-nav-list-li {
    list-style: none;
    
}

.azure-nav-btn {
    padding: 20px 8px;
    font-size: 13px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-midium);
    font-weight: 400;
    display: flex;
    align-items:center;
}

.azure-nav-btn i {

    font-size: 8px;
    color: black;
    margin: 5px 0 0 4px;
    text-align: center;
}

.header-search {
    margin-right: 24px;
    display: flex;
    width: fit-content;
}

.header-search-container {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
}

.header-search-container-input {
    width: 120px;
    padding-left: 12px;
    padding-right: 24px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #747479;
    min-height: 32px;
    background-color: rgba(248, 249, 250);
    font-family: var(--font-midium);
    text-align: left;
}

.header-search-container-input-btn {
    position: absolute;
    text-align: center;
    right: 12px;
    background: transparent;
    border: none;
    outline: none;
}

.header-search-container-input-btn i {
    font-size: 12px;
    color: #747479;
}

.header-nav-right-list {
    display: flex;
}

.header-nav-right-li {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-nav-right-li-a {
    padding: 20px 8px;
    font-size: 13px;
    font-family: var(--font-midium);
    color: rgb(26, 26, 31);
    letter-spacing: -0.48px;
}

.header-nav-right-li-a-green-btn {
    background-color: #89c402;
    border: 1px solid #6f9e02;
    font-size: 13px;
    font-family: var(--font-bold);
    border-radius: 4px;
    color: #1a1a1f;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 9px;
    line-height: 1;
    text-align: center;
    margin: 0 6px;
    letter-spacing: -0.48px;
    
}

.search-icon2 {
    display: none;
}

.seach-icon-button2 {
    width: 44px;
    height: 44px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seach-icon-button2 i {
    font-size: 12px;
    color: #747479;
}

.header-nav-signin2 {
    display: none;
}
.header-nav-menu{
    display: none;
}

.menu-button{
    
    width: 44px;
    height: 44px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-button {
    font-size: 12px;
    color: #747479;
}

.azure-middle-log {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.azure-middle-logo-continer {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    
}

.azure-middle-logo-continer svg {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1080px) {
    .header-nav-right {
        display: none;
    }
    .header-search {
        display: none;
    }

    .search-icon2 {
        display: block;
    }

    .header-nav-signin2 {
        display: block;
    }

    .header-nav-menu {
        display: block;
    }
}


@media screen and (max-width: 860px) {
    .azure-logo-text  {
        margin-left: 12px;
    }

    .azure-nav-list  {
        margin-left: 12px;
    }
}

@media screen and (max-width: 767px) {
    .azure-nav-list {
        display: none;
    }

    .header-nav-left {
        margin: 0;
        min-width: 130px;
        padding: 0;
    }

    .header-body {
       
       height: auto;
       max-height: 78px;
       
    }

    .main-header {
        max-height: 78px;
        padding: 12px;
    }

    .azure-logo-svg {
        display: none;
    }

    .azure-menu-logo-icon {
        display: flex;
        margin-bottom: 5px;
    }

    .azure-logo-icon {
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        padding: 1px 6px;
    }

    .icon-size  {
        align-items: center;
        justify-content: center
    }

    .azure-logo-text {
        margin-left: 4px;
        margin-bottom: 5px;
    }

    .azure-middle-log {
        display: flex;
        margin-bottom: 5px;
    }

    .Banner-content-text-paragraph div {
        letter-spacing: -0.54px;
    }

    .header-nav-menu {
        display: none;
    }

    .header-nav-signin2 {
        padding: 20px;
        
    }

    .header-nav-right-li-a {
        padding: 0;
        font-size: 14px;
        
    }

    .seach-icon-button2 i  {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .search-icon2 {
        margin-left: 6px;
    }
}



/* ---------------main-banner------------------- */






.main-banner-content-continer {
    
    min-height: 628px;
    position: relative;
    padding: 96px 0;
    display: flex;
    margin-top: -4px;
    
}

.main-banner-content-continer-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.main-banner-content-continer-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: clip;

}

.main-banner-content-wrapper {
    
    padding-right: 5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1344px;
    width: 100%;
}

.main-banner-content-continer-content {
   
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 8px;
    width: 100%;
    margin-bottom: 40px;
    flex: 1;
}

.Banner-content-text {
    width: 54%;
}

.Banner-content-text-title h1 {
    font-size: 48px;
    font-family: var(--font-bold);
    letter-spacing: -2.4px;
    display: block;
    line-height: 56px;
}

.Banner-content-text-paragraph div {
    max-width: 656px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--font-midium);
    line-height: 32px;
    text-align: left;
    letter-spacing: -0.6px;
}

.Banner-content-text-button {
    margin-top: 32px;
}

.Banner-content-text-button-row {
    display: flex;
    gap: 8px;
}

.Banner-content-text-mini-title {
    font-size: 12px;
    font-family: var(--font-bold);
    color: black;
    letter-spacing: 0.96px;
    text-align: left;
    margin-bottom: 16px;
}

.Banner-content-text-button .startBtn {
    padding: 12px 16px;
    background-color: rgb(0, 120, 212);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0, 120, 212);
    font-size: 15px;
    font-family: var(--font-bold);
    display: block;
    line-height: 22px;
}

.Banner-content-text-button .startBtn span {
    display: block;
    line-height: 22px;
    text-align: center;
    padding-bottom: 2px;
    line-height: 22px;
    letter-spacing: -0.3px;
}


.Banner-content-text-button .freeBtn {
    padding: 12px 16px;
    background-color: rgb(137, 196, 2);
    color: black;
    border-radius: 8px;
    border: 2px solid #89c402;
    font-size: 15px;
    font-family: var(--font-bold);
    text-align: center;
    display: block;
    line-height: 22px;
}


.Banner-content-text-button .freeBtn span {
    display: block;
    line-height: 22px;
    text-align: center;
    padding-bottom: 2px;
    line-height: 22px;
    letter-spacing: -0.3px;
}

@media screen and (max-width: 1440px){
    .main-banner-content-wrapper {
        padding-left: 5%;
    }

    .Banner-content-text-paragraph div {
        font-size: 18px;
    }
}

@media screen and (max-width: 860px) {
    .main-banner-content-continer {
        padding: 0;
        padding-bottom: 56px;
        min-height: auto;
        max-height: auto;
        
    }

    .Banner-content-text {
        width: 100%;
    }

    .Banner-content-text-title h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .Banner-content-text-paragraph div {
        margin-top: 12px;
        width: 100%;
        max-width: 100%;
        line-height: 28px;
    }

    .Banner-content-text-mini-title {
        margin-bottom: 12px;
        line-height: 16px;
    }

    .Banner-content-text-button  {
        margin-top: 24px;
    }

    .main-banner-content-wrapper {
        margin: 0;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .main-banner-content-continer-content {
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 32px;
    }

    .Banner-content-text-button .startBtn {
        padding: 12px;
        
    }

    .Banner-content-text-button .freeBtn {
        padding: 12px;
        
    }
}


@media screen and (max-width: 540px) {
    .Banner-content-text-button-row {
        flex-direction: column;
    }

    .main-banner-content-continer {
        padding: 0;
        padding-bottom: 56px;
        min-height: 456px;
        
        
    }

    .main-banner-content-wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}



/* ----------------main-content-body------------- */


.azure-main-content-body {
    width: 100%;
}

.main-body-size {
    
}

.main-content-sticy-nav {
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;
}

.sticy-nav-container {
    
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    padding: 0 5%;
    /* margin: auto; */
    background-color: white;
}

.sticy-nav-content {
    
    
    width: 100%;
    max-width: 1328px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}

.dropdown-nav-manu {
    display: flex;
    column-gap: 46px;
    flex-wrap: wrap;
}

.dropdown-nav-manu-li {
    margin-top: 16px;
    list-style: none;
    padding-left: 4px;
}
.dropdown-content {
    padding-bottom: 16px;
    font-size: 14px;
    font-family: var(--font-bold);
    color: rgb(5, 41, 68)
}

.dropdown-nav-manu-li-a {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.drop-down-active-indiacator  {
    height: 4px;
    background-color: rgb(0, 103, 184);
    border-radius: 30px;
}

.dropdown-nav-manu-li-a  .inactive {
    display: none;
}

.dropdow-green-btn {
    background-color: rgb(137, 196, 2);
    border: 2px solid rgb(137, 196, 2);
    border-radius: 8px;
    padding: 4px 12px;
}

.dropdow-green-btn-text {
    font-size: 15px;
    font-family: var(--font-bold);
    text-wrap: nowrap;
    color: black;
    line-height: 22px;
    letter-spacing: -0.3px;
    cursor: pointer;
}

.sticy-dropdown {

    display: none;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    padding: 4px;
}




.dropdown-element {
    display: flex;
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
   
    background: transparent;
    
}

.dropdown-option-element {
    font-size: 12px;
    font-family: var(--font-midium);
    color: black;
}

.dropdown-option {
    display: flex;
    padding: 12px;
    margin: 20px;
}



@media screen and (max-width: 860px) {
    .sticy-nav-content {
        display: none;
    }

    .sticy-dropdown {
        display: flex;
    }

    .sticy-nav-container {
        padding-left: 0;
        padding-right: 0;
    }
}